[submodule "3rdparty/TM1637-pico"]
	path = 3rdparty/TM1637-pico
	url = https://github.com/wahlencraft/TM1637-pico
[submodule "3rdparty/pico-sdk"]
	path = 3rdparty/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "3rdparty/PicoLed"]
	path = 3rdparty/PicoLed
	url = https://github.com/thorbenk/PicoLed.git
[submodule "3rdparty/pico-dfPlayer"]
	path = 3rdparty/pico-dfPlayer
	url = https://github.com/nyh-workshop/pico-dfPlayer.git
[submodule "3rdparty/inkscape-gears-dev"]
	path = 3rdparty/inkscape-gears-dev
	url = https://github.com/jnweiger/inkscape-gears-dev
